<div class="article">

  <%= render "links_partial" %>

  <%= form_for @article, url: create_article_path do |f| %>

    <%= f.label :title %><br>
    <%= f.text_field :title %>

    <%= f.label :category_id %><br>
    <%= f.select :category_id, options_for_select(@categories) %>

    <%= f.submit %>

  <% end %>

</div>
