<div class="article">
  <%= render "/articles/links_partial" %>
  <div class="content">

    <% @edits.each do |edit| %>
      <div class="edit-entry">

        <%= raw edit.difference %><br>
        Edited by <b><%= link_to edit.editor.username, user_path(edit.editor) %></b>
        <%= time_ago_in_words(edit.created_at) %>
      </div><br><br><br>
    <% end %>
  </div>
  <%= render "footer_links_partial" %>
</div>
